body {
    margin: 30px 45px;
    width: 90%;
    background-color: #323232;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

li a {
    text-decoration: none;
    color: #999;
}

li a:hover {
    text-decoration: underline solid #999 5px;
}

body nav {
    font-size: 2.2em;
}

#page-nav-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#page-nav-bar li {
    margin-right: 2rem;
}

body header, section {
    font-size: 1.8em;
}
 
#hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
}

#hobbies img {
    transition: box-shadow 0.5s, transform 0.3s;
}

#hobbies img:hover {
    transform: translate(5px, -5px);
    box-shadow: 0 0 15px #14ffec;
}

#car-repair-pic, #apex-pic {
    max-width: 60%;
    height: auto;
}

figcaption {
    color: white;
    text-align:left;
}