body {
    margin: 60px auto;
    width: 90%;
    background-color: #323232;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}
body h1 {
    font-size:7.5em;
}
body nav {
    font-size: 2.2em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 430px;
    margin-left: -100px;
    font-size: 0.8em;
}
dl {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 50%;
    flex-direction: row-reverse;
}

dt img {
    width: 110px;
}

.clickable_logo {
    transition-duration: 0.32s;
}

.clickable_logo:hover {
    transform: translateY(-15px)
}

#Discord_Contact_Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    max-height: 150px;
}

#logo-list {
    margin-top: 0.4em;
}

figcaption {
    font-size: 1.35rem;
}

#contact-message {
    font-size: 1.7em;
}

#contact-nav-bar {
    /* max-height: 1px; */
}

