body {
    margin: 30px 45px;
    width: 90%;
    background-color: #323232;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

body h1 {
    font-size:7.5em;
    margin-top: 0;
    margin-bottom: 0;
}

body nav {
    font-size: 2.2em;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline solid #999 5px;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    max-width: 50%;
    line-height: 0.9em;
}

h3 {
    padding-left: 5%;
    font-size: 2.2rem;
    margin-top: 0;
}

.title-and-objective {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#personal-objective {
    font-family: 'Roboto Slab', serif;    
    font-size: 2.1rem;
    display: flex;
    max-width: 50%;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 25em;
    margin-left: -100px;
    font-size: 1.25em;
}

#page-nav-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#page-nav-bar li {
    margin-right: 2rem;
}

#contact-message {
    max-width: 900px;
}

dl {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 60%;
    flex-direction: row-reverse;
}

dt img {
    width: 95px;
}

.circle-logo img {
    border-radius: 50%;
    transition-duration: 0.25s;
}
#email:hover {
    box-shadow: 0 0 15px #5cbdea;
}
#reddit:hover {
    box-shadow: 0 0 20px #FF4500;
}
#github:hover {
    box-shadow: 0 0 15px white;
}

.square-logo img {
    border-radius: 10%;
    transition-duration: 0.25s;
}

#linkedin {
    border: 1em 0.8em;
}

#linkedin:hover {
    box-shadow: 0 0 15px #008cc9;
}

.clickable_logo {
    transition-duration: 0.32s;
}

.clickable_logo:hover {
    transform: translateY(-15px)
}

#Discord_Contact_Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    max-height: 150px;
}

#Discord-UserID {
    color: #FFFFFF;
    transition-duration: 0.32s;
}

#Discord-UserID:hover{
    transform: translateX(15px);
}

#logo-list {
    margin-top: 0.4em;
}

figcaption {
    font-size: 1.35rem;
}

#contact-message {
    font-size: 1.7em;
}

#contact-nav-bar {
    /* max-height: 1px; */
}

